<!DOCTYPE html>
<html>



<body>

  <h2>Categories Table</h2>
  <input class="form-control" type="text" placeholder="Enter tags" [formControl]="searchField"
    (keyup.enter)="searchCategory()" />
  <table>
    <tr>
      <th>Categories</th>
    </tr>
    <tr *ngFor=" let category of categories">
      <td>{{category}}</td>
    </tr>


  </table>

</body>

</html>